*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

@font-face {
  font-family: "MrAlex";
  src: url(../assets/fonts/MrAlex-Bold.woff2);
}
/* -----COMMON----- */
body {
  color: #dfdfdf;
  background-color: #000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: clip;
  min-height: 100%;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 81.875rem;
  padding: 0 0.9375rem;
}

.page {
  flex: 1 1 auto;
  background-color: #000;
}

/* -----COMMON----- */
.page__initial {
  overflow: clip;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  z-index: 10;
  background: -0.5%/25% no-repeat url("../assets/img/intro/bg-01.jpg"), 33%/25% no-repeat url("../assets/img/intro/bg-02.jpg"), 66.5%/25% no-repeat url("../assets/img/intro/bg-03.jpg"), 100%/25% no-repeat url("../assets/img/intro/bg-04.jpg");
  background-color: #dfdfdf;
}
@media (max-width: 61.9988em) {
  .page__initial {
    background: -0.5%/33% no-repeat url("../assets/img/intro/bg-01.jpg"), 50%/33% no-repeat url("../assets/img/intro/bg-02.jpg"), 100%/33% no-repeat url("../assets/img/intro/bg-04.jpg");
    background-color: #dfdfdf;
  }
}
@media (max-width: 47.9988em) {
  .page__initial {
    background: 0%/50% no-repeat url("../assets/img/intro/bg-01.jpg"), 100%/50% no-repeat url("../assets/img/intro/bg-04.jpg");
    background-color: #dfdfdf;
  }
}
@media (max-width: 35.9988em) {
  .page__initial {
    background: 0%/100% no-repeat url("../assets/img/intro/bg-01.jpg");
    background-color: #dfdfdf;
  }
}
.page__main {
  display: none;
  min-height: 100dvh;
  width: 100%;
  text-align: center;
  z-index: 1;
  color: #000;
  font-family: "MrAlex";
}
.page__main img {
  width: 100%;
}

.button-i {
  cursor: pointer;
  width: 60px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  transform: translateY(80px);
  outline: none;
}
.button-i:focus img {
  transform: scale(1.1);
  opacity: 1;
}
.button-i:hover img {
  transform: scale(1.1);
  opacity: 1;
}
.button-i img {
  width: 100%;
  opacity: 0.8;
  transition: all 0.3s ease;
  pointer-events: none;
}

.initial__button {
  width: 80px;
}
.initial__button.fullscreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  transition: all 0.5s ease;
  background: rgba(0, 0, 0, 0);
  z-index: 20;
}
.initial__button.fullscreen img {
  transform: scale(12);
  opacity: 1;
}
.initial__mute {
  position: relative;
  overflow: hidden;
}
.initial span {
  transition: all 0.2s ease;
  transform: rotate(-45deg);
}

.mute-t {
  content: "";
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
  top: calc(50% - 3px);
  left: 0;
  height: 10px;
  width: 100%;
  opacity: 0.8;
  border-radius: 5px;
  background-color: #781302;
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  z-index: 50;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.flash.show {
  opacity: 1;
}

.main {
  color: #dfdfdf;
}
.main__windows {
  display: flex;
  justify-content: center;
  gap: 20px;
  min-width: 100%;
  height: 80dvh;
}
@media (max-width: 61.9988em) {
  .main__windows {
    flex-direction: column;
  }
}
@media (max-width: 61.9988em) {
  .main__window {
    min-height: 50dvh;
  }
}

.small-window {
  height: 65%;
}

.window {
  position: relative;
  background-color: rgba(3, 25, 77, 0.8);
  border: 1px solid #000;
  overflow: hidden;
  flex: 0 1 33%;
  border-radius: 10px;
  box-shadow: inset 0px 0px 20px #44A7C1;
  padding: 50px 0px;
}
@media (max-width: 61.9988em) {
  .window:first-child {
    display: none;
  }
}
@media (max-width: 61.9988em) {
  .window:last-child {
    display: none;
  }
}
.window img {
  opacity: 0.9;
}
.window__top-status {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
}
.window__top-status::before, .window__top-status::after {
  content: "";
  position: absolute;
  top: 0;
  width: 25%;
  height: 100%;
}
.window__top-status::before {
  left: 0;
  background: rgb(3, 25, 77);
  background: linear-gradient(90deg, rgb(3, 25, 77) 0%, rgba(3, 25, 77, 0.9) 33%, rgba(3, 25, 77, 0.8) 66%, rgba(0, 0, 0, 0) 99%);
}
.window__top-status::after {
  right: 0;
  background: rgb(3, 25, 77);
  background: linear-gradient(270deg, rgb(3, 25, 77) 0%, rgba(3, 25, 77, 0.9) 33%, rgba(3, 25, 77, 0.8) 66%, rgba(0, 0, 0, 0) 99%);
}
.window__top h2 {
  padding: 20px 0;
  border: 2px solid #53AACC;
  border-left: none;
  border-right: none;
  box-shadow: inset 0px 0px 25px #53AACC;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}
.window__top img {
  aspect-ratio: 241.935484%;
  max-width: 100px;
  max-height: 41.333px;
}
@media (max-width: 1280px) {
  .window__top img {
    max-width: calc(66.6667px + 33.3333 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1280px) {
  .window__top img {
    max-height: calc(27.5556px + 13.7774 * (100vw - 320px) / 960);
  }
}
.window .corner-border {
  position: absolute;
  aspect-ratio: 100.869565%;
  max-width: 77.333px;
  max-height: 76.667px;
}
@media (max-width: 1280px) {
  .window .corner-border {
    max-width: calc(51.5553px + 25.7777 * (100vw - 320px) / 960);
  }
}
@media (max-width: 1280px) {
  .window .corner-border {
    max-height: calc(51.1113px + 25.5557 * (100vw - 320px) / 960);
  }
}
.window .corner-border:first-child {
  top: 0;
  left: 0;
}
.window .corner-border:nth-child(2) {
  top: 0;
  right: 0;
  transform: rotate(90deg);
}
.window .corner-border:nth-child(3) {
  bottom: 0;
  left: 0;
  transform: rotate(-90deg);
}
.window .corner-border:last-child {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.big-window {
  height: 100%;
}
@media (max-width: 61.9988em) {
  .big-window {
    min-height: 90dvh;
  }
}