@import "reset";
@import "mixin";

@font-face {
	font-family: "sololeveling";
	font-weight: 400;
	src: url(../assets/fonts/sololeveling.otf);
}

$breakpoint-1: 61.9988em;
$breakpoint-2: 47.9988em;
$breakpoint-3: 35.9988em;

$white: #dfdfdf;
$black: #000;


/* -----COMMON----- */
body {
	color: $white;
	background-color: $black;
	-webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}
.wrapper {
	display: flex;
	flex-direction: column;
	overflow: clip;
	min-height: 100%;
}

[class*="__container"] {
	margin: 0 auto;
	max-width: 81.875rem;
	padding: 0 0.9375rem;
}

.page {
	flex: 1 1 auto;
	background-color: $white;
}
/* -----COMMON----- */
.page {
	&__initial {
		overflow: clip;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 5px;
		z-index: 10;
		background: -0.5% / 25% no-repeat url("../assets/img/intro/bg-01.png"),
		33% / 25% no-repeat url("../assets/img/intro/bg-02.png"),
		66.5% / 25% no-repeat url("../assets/img/intro/bg-03.png"),
		100% / 25% no-repeat url("../assets/img/intro/bg-04.png");
		background-color: $white;
		@media (max-width: $breakpoint-1){
			background: -0.5% / 33% no-repeat url("../assets/img/intro/bg-01.png"),
			50% / 33% no-repeat url("../assets/img/intro/bg-02.png"),
			100% / 33% no-repeat url("../assets/img/intro/bg-04.png");
			background-color: $white;
		}
		@media (max-width: $breakpoint-2){
			background: 0% / 50% no-repeat url("../assets/img/intro/bg-01.png"),
			100% / 50% no-repeat url("../assets/img/intro/bg-04.png");
			background-color: $white;
		}
		@media (max-width: $breakpoint-3){
			background: 0% / 100% no-repeat url("../assets/img/intro/bg-01.png");
			background-color: $white;
		}
	}
	&__main {
		display: none;
		min-height: 100dvh;
		width: 100%;
		text-align: center;
		z-index: 1;
		color: $black;
		font-family: "sololeveling";
		@include adaptiv-value("font-size", 128, 48, 1);
		img{
			width: 100%;
		}
	}
}

.button-i{
	cursor: pointer;
	width: 60px;
	background-color: rgba(0, 0, 0, 0);
	transition: all 0.3s ease;
	transform: translateY(80px);
	&:hover img{
		transform: scale(1.1);
		opacity: 1;
	}
	img{
		width: 100%;
		opacity: 0.8;
		transition: all 0.3s ease;
		pointer-events: none;
	}
}

.initial{
	&__button{
		width: 80px;
	}

	&__button.fullscreen {
		position: absolute;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s ease;
    background: rgba(0, 0, 0, 0);
    z-index: 20;
    img {
      transform: scale(12);
			opacity: 1;
    }
  }
	&__mute{
		position: relative;
		overflow: hidden;
	}
	span{
		transition: all 0.2s ease;
		transform: rotate(-45deg);
	}
}
.mute-t{
	content: "";
	transform: rotate(-45deg);
	position: absolute;
	top: 0;
	top: calc(50% - 3px);
	left: 0;
	height: 10px;
	width: 100%;
	opacity: 0.8;
	border-radius: 5px;
	background-color: #781302;
}
.active{
	display: flex;
	align-items: center;
	justify-content: center;
}

.flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  opacity: 0;
  z-index: 50;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.flash.show {
  opacity: 1;
}

