@import "reset";
@import "mixin";

@font-face {
	font-family: "MrAlex";
	src: url(../assets/fonts/MrAlex-Bold.woff2);
}

$breakpoint-1: 61.9988em;
$breakpoint-2: 47.9988em;
$breakpoint-3: 35.9988em;

$white: #dfdfdf;
$black: #000;


/* -----COMMON----- */
body {
	color: $white;
	background-color: $black;
	-webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}
.wrapper {
	display: flex;
	flex-direction: column;
	overflow: clip;
	min-height: 100%;
}

[class*="__container"] {
	margin: 0 auto;
	max-width: 81.875rem;
	padding: 0 0.9375rem;
}

.page {
	flex: 1 1 auto;
	background-color: $black;
}
/* -----COMMON----- */
.page {
	&__initial {
		overflow: clip;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 5px;
		z-index: 10;
		background: -0.5% / 25% no-repeat url("../assets/img/intro/bg-01.jpg"),
		33% / 25% no-repeat url("../assets/img/intro/bg-02.jpg"),
		66.5% / 25% no-repeat url("../assets/img/intro/bg-03.jpg"),
		100% / 25% no-repeat url("../assets/img/intro/bg-04.jpg");
		background-color: $white;
		@media (max-width: $breakpoint-1){
			background: -0.5% / 33% no-repeat url("../assets/img/intro/bg-01.jpg"),
			50% / 33% no-repeat url("../assets/img/intro/bg-02.jpg"),
			100% / 33% no-repeat url("../assets/img/intro/bg-04.jpg");
			background-color: $white;
		}
		@media (max-width: $breakpoint-2){
			background: 0% / 50% no-repeat url("../assets/img/intro/bg-01.jpg"),
			100% / 50% no-repeat url("../assets/img/intro/bg-04.jpg");
			background-color: $white;
		}
		@media (max-width: $breakpoint-3){
			background: 0% / 100% no-repeat url("../assets/img/intro/bg-01.jpg");
			background-color: $white;
		}
	}
	&__main {
		display: none;
		min-height: 100dvh;
		width: 100%;
		text-align: center;
		z-index: 1;
		color: $black;
		font-family: "MrAlex";
		img{
			width: 100%;
		}
	}
}

.button-i{
	cursor: pointer;
	width: 60px;
	background-color: rgba(0, 0, 0, 0);
	transition: all 0.3s ease;
	transform: translateY(80px);
	outline: none;
	&:focus img{
		transform: scale(1.1);
		opacity: 1;
	}
	&:hover img{
		transform: scale(1.1);
		opacity: 1;
	}
	img{
		width: 100%;
		opacity: 0.8;
		transition: all 0.3s ease;
		pointer-events: none;
		@media (max-width: $breakpoint-2){
			opacity: 1;
		}
	}
}

.initial{
	&__button{
		width: 80px;
	}

	&__button.fullscreen {
		position: absolute;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s ease;
    background: rgba(0, 0, 0, 0);
    z-index: 20;
    img {
      transform: scale(12);
			opacity: 1;
    }
  }
	&__mute{
		position: relative;
		overflow: hidden;
	}
	span{
		transition: all 0.2s ease;
		transform: rotate(-45deg);
	}
}
.mute-t{
	content: "";
	transform: rotate(-45deg);
	position: absolute;
	top: 0;
	top: calc(50% - 3px);
	left: 0;
	height: 10px;
	width: 100%;
	opacity: 0.8;
	border-radius: 5px;
	background-color: #781302;
}
.active{
	display: flex;
	align-items: center;
	justify-content: center;
}

.flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $black;
  opacity: 0;
  z-index: 50;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.flash.show {
  opacity: 1;
}


.main {
	color: $white;
	padding: 20px 0;
	&__windows {
		display: grid;
		grid-auto-columns: 1fr;
		grid-template-areas: 
		"one two three";
		justify-content: center;
		gap: 20px;
		min-width: 100%;
		@media (max-width: $breakpoint-1){
			display: none;
			grid-template-areas: 
			"two"
			"one three";
		}
		@media (max-width: $breakpoint-2){
			display: none;
			grid-template-areas: 
			"one three"
			"two";
		}
		@media (max-width: $breakpoint-3){
			display: grid;
			grid-template-areas: 
			"one"
			"two"
			"three";
		}
	}
	&__window {
		min-height: 60dvh;
		&:first-child{
			grid-area: one;
		}
		&:nth-child(2){
			grid-area: two;
		}
		&:last-child{
			grid-area: three;
		}
	}
}
.small-window {
	height: 65%;
}
.window {
	position: relative;
	background-color: rgba(3, 25, 77, 0.8);
	border: 1px solid $black;
	overflow: hidden;
	flex: 0 1 33%;
	border-radius: 10px;
	box-shadow: inset 0px 0px 20px #44A7C1;
	padding: 50px 0px;
	@media (max-width: $breakpoint-1){
		box-shadow: inset 0px 0px 10px #44A7C1;
	}
	&:first-child{
		@media (max-width: $breakpoint-1){
			
		}
	}
	&:last-child{
		@media (max-width: $breakpoint-1){
		
		}
	}
	img{
		opacity: 0.9;
	}
	&__top{
		&-status{
			position: relative;
			max-width: 90%;
			margin: 0 auto;
			&::before, &::after{
				content: '';
				position: absolute;
				top: 0;
				width: 25%;
				height: 100%;
			}
			&::before{
				left: 0;
				background: rgb(3,25,77);
				background: linear-gradient(90deg, rgba(3,25,77,1) 0%, rgba(3,25,77,0.9) 33%, rgba(3,25,77,0.8) 66%, rgba(0,0,0,0) 99%); 
			}
			&::after{
				right: 0;
				background: rgb(3,25,77);
				background: linear-gradient(270deg, rgba(3,25,77,1) 0%, rgba(3,25,77,0.9) 33%, rgba(3,25,77,0.8) 66%, rgba(0,0,0,0) 99%); 
			}
		}
		h2{
			padding: 20px 0;
			border: 2px solid #53AACC;
			border-left: none;
			border-right: none;
			box-shadow: inset 0px 0px 25px #53AACC;
			max-width: 100%;
			margin: 0 auto;
			text-align: center;
			font-size: 28px;
		}
		img{
			aspect-ratio: 241.935484%;
			@include adaptiv-value("max-width", 100, 66.6667, 1);
			@include adaptiv-value("max-height", 41.333, 27.5556, 1); 
			opacity: 0.7;
		}
	}

	.corner-border{
		position: absolute;
		aspect-ratio: 100.869565%;
		@include adaptiv-value("max-width", 77.333, 51.5553, 1);
		@include adaptiv-value("max-height", 76.667, 51.1113, 1);
		opacity: 0.8;
	}
	.corner-border:first-child{
		top: 0;
		left: 0;
	}
	.corner-border:nth-child(2){
		top: 0;
		right: 0;
		transform: rotate(90deg);
	}
	.corner-border:nth-child(3){
		bottom: 0;
		left: 0;
		transform: rotate(-90deg);
	}
	.corner-border:last-child{
		bottom: 0;
		right: 0;
		transform: rotate(180deg);
	}
}
.big-window {
	min-height: 80dvh;
	@media (max-width: $breakpoint-1){
		min-height: 90dvh;
	}
}
